body {
  background-image: url("/images/background.png");
  overflow-x: hidden;
  position: absolute;
  left: -8px;
  right: -8px;
  background-size: 100%;
}
p {
  width: 75vw;
  display: block;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  font-size: 3vw;
  z-index: 2;
  color: gray;
  padding-bottom: 7vw;
  font-family: Goudy Old Style;
  text-shadow: 3px 3px 3px black;
}
.tab button {
  overflow-x: hidden;
  border: none;
  background-image: url("/images/victorian-bricks.png");
  box-shadow: inset 0 0 100px 20px rgb(0, 0, 0), 0 20px 100px rgb(0, 0, 0);
  font-family: Goudy Old Style;
  font-size: 4vw;
  border: none;
  outline: none;
  cursor: pointer;
  color: gray;
  position: absolute;
  width: 25vw;
  height: 6vw;
  margin-top: -5px;
  background: none;
}

#home {
  background: none;
  box-shadow: none;
  color: white;
}
#memories {
  margin-left: 25vw;
  background-image: url("/images/victorian-bricks.png");
}
#nick {
  margin-left: 50vw;
  background-image: url("/images/victorian-bricks.png");
}
#extra {
  margin-left: 75vw;
  background-image: url("/images/victorian-bricks.png");
}

#sixmonths {
  display: block;
  width: 65vw;
  margin: auto;
  margin-top: 8vw;
}
#kuromimelody {
  display: block;
  margin: auto;
  width: 32vw;
}

#frame1 {
  position: absolute;
  top: 20vw;
  left: 8vw;
  width: 20vw;
}
#frame2 {
  position: absolute;
  top: 20vw;
  right: 8vw;
  width: 20vw;
}

#cornerLL {
  position: fixed;
  bottom: -12px;
  left: -12px;
  width: 20vw;
}
#cornerLR {
  position: fixed;
  bottom: -12px;
  right: -12px;
  width: 20vw;
}
#spiderweb {
  position: fixed;
  width: 10vw;
  top: 0;
  right: 0;
  pointer-events: none;
}
